.faq-container {
    border: 1px solid #627ff4;
    list-style-type: none;
    width: 90%;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 5px 10px;
    background-color: #b7e3c0;
  }
  
  .question-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
   background-color: #f58bce86;
  }
  
  .question {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
    color:rgb(168, 95, 236),rgb(240, 207, 18);
  }
  
  @media screen and (min-width: 768px) {
    .question {
      font-size: 20px;
    }
  }
  
  .toggle-img {
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
  
  .horizontal-line {
    border: 1px solid #0affe6;
  }
  
  .answer {
    font-family: 'Roboto';
    font-size: 14px;
    color: #ff09da;
  }
  
  @media screen and (min-width: 768px) {
    .answer {
      font-size: 17px;
    }
  }